# Ignore all python cache files
__pycache__/
*.pyc

# 1. Track the data directory itself, but ignore all files inside it
!data/

# 2. Ignore all files inside the data folder recursively
data/**/*

# 3. Whitelist subfolders so Git can look inside them
!data/raw/

# 4. Explicitly allow your sample files and structure keepers to be tracked
!data/gfz_sample_raw.json
!data/usgs_sample_raw.json
!data/**/*.gitkeep


# Ignore specific folders
notebooks/00_initial_messy_scripts/
notebooks/01_USGS_Earthquakes_data/
notebooks/02_GFZ_kpindex_data/
notebooks/03_NASA_SolarActivity_data/
notebooks/04_correlation_analysis/

outdated/
data/tests/
docs/figures/

src/

# Ignore specific files
docs/data_sources_od.md
docs/presentation/Herrera_EDA_14.04.26.key
notebooks/01_USGS_Earthquakes_data/05_earthquake_eda.ipynb
notebooks/notebook_setup.py

# Ignore local environment files if you have them
.env
venv/
.venv/

!data/README.md #Whitelist the specific README file so it gets pushed.

.DS_Store

*.csv
*.geojson
*.json
*.shp
